<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>temperature by Zip cpde </title>
<link rel="stylessheet"
href="http://yui.yahooappis.com/pure/0.4.2/pure-min.css">
<link rel="stylesheet" href="/main.css">
</head>
<body>